header 
    background-color: white
    color: black
    padding: 1.5rem 0px
    min-height: 10vh

.navbar-brand
    font-weight: 700
    font-size: 2rem
    color: $primary
    &:hover
            color: $upward_contrast
            text-decoration: none
